/*Applies same font to whole page*/
*{
    font-family: 'Fredoka', sans-serif;
}

/* footer styling */
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: darkcyan;
	color: white;
	text-align: center;
}

/* footer link styling */
#footer a{
	text-decoration: none;
	color: lightgreen;
}
/* draws 8 ball */
#eightBall{
	margin: auto;
	width: 50%;
	border: 3px solid black;
	padding: 10px;
	background-color: #1c163b;
	width: 500px;
	height: 500px;
	border-radius: 350px;
}

/* styling for inner white circle */
#innerCircle{
	margin: auto;
	width: 50%;
	border: 3px solid black;
	padding: 40px;
	position: relative;
	background-color: white;
	width: 300px;
	height: 300px;
	border-radius: 300px;
}

/* Centers text */
main{
	text-align: center;
}
