/*Applies same font to whole page*/
*{
    font-family: 'Fredoka', sans-serif;
}

/* footer styling */
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: darkcyan;
	color: white;
	text-align: center;
}

/* footer link styling */
#footer a{
	text-decoration: none;
	color: lightgreen;
}
/* draws 8 ball */
#eightBall{
	margin: auto;
	width: 50%;
	border: 3px solid black;
	padding: 10px;
	background-color: #1c163b;
	width: 500px;
	height: 500px;
	border-radius: 350px;
}

/* styling for inner white circle */
#innerCircle{
	margin: auto;
	width: 50%;
	border: 3px solid black;
	padding: 40px;
	position: relative;
	background-color: white;
	width: 300px;
	height: 300px;
	border-radius: 300px;
}

/* Centers text */
main{
	text-align: center;
}

/* adds padding above button */
#buttonContainer{
	padding-top: 30px;
}

/* styling for button */
button{
	height: 120px;
	width: 150px;
	font-size: 30px;
	border-radius: 10%;
	border: 2px solid #e7e7e7;
	background-color: white;
	color: black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* hover effects for button */
button:hover {
	background-color: #555555;
	color: white;
	transition: 0.7s;
	box-shadow: none;
  }
