/*Applies same font to whole page*/
*{
    font-family: 'Fredoka', sans-serif;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: darkcyan;
	color: white;
	text-align: center;
}

#footer a{
	text-decoration: none;
	color: lightgreen;
}
